@import "tailwindcss";

@theme {
  --color-primary: #5e524d;
  --color-brandRed: #e31e24;
  --color-backgroundLight: #f8f7f3;
  --color-backgroundDark: #121212;
  --color-accentWood: #a68d71;

  --font-display: var(--font-playfair-display), serif;
  --font-body: var(--font-inter), sans-serif;

  --radius-default: 0px;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  --animate-marquee: marquee 40s linear infinite;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    @apply font-body bg-backgroundLight dark:bg-backgroundDark text-primary dark:text-gray-200 transition-colors duration-300 overflow-x-hidden;
    color: var(--foreground);
    background: var(--background);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .masonry-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }

  .text-outline {
    -webkit-text-stroke: 1px currentColor;
    color: transparent;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
  scroll-padding-top: 10px;
}
